# Workbook 2
# More about `print()`

By default, the `print()` command takes multiple arguments, prints them separated by a single space, and then inserts a new line. You can change this behavior by using the optional named parameters `sep` and `end`.

``` python
print('aa', 'bb', 'cc')
```

The result of running this code will be:

```
aa bb cc
```

As you can see, all the lines are output with a space between each other - this is not a random behavior. The `print()` command has a parameter that is responsible for separating arguments during output. This parameter is called `sep` (separator). The default value for this parameter is the __space character__. The following lines of code are equivalent:

```python
print('aa', 'bb', 'cc')

print('aa', 'bb', 'cc', sep=' ')
```

We can change the `sep` parameter to any other string, for example, to an asterisk `*`.

Try this

```python
print('aa', 'bb', 'cc', sep='*')
```

By default, `print()` appends a `\n` to the end of the output. The `end` parameter allows you to change this.

Try this

```python
print("Hello, Ninja!", end = ' ')
print(1,2)
```

You can use `sep` and `end` together to generate lists, CSV output, bulleted lists, and more.

Try this

```python
print ("Hello, RU student!", "How are you doing?", sep = ' ', end = ' ')
print("This class is amazing")
```

### Exercise 1 (1 point)

Write code that uses one `print` comand. Use numbers as arguments and delimiter `/`, specifed with `sep` or `end`. The output should look like:

```
12/30/2024
```

### Exercise 2 (2 points)

Write code using two `print` comands. The first print must to have 2 value arguments. They are <span style='color: red;'>Mercury</span> and <span style='color: red;'>Venus</span>. The second print must to have <span style='color: red;'>Mars</span> and <span style='color: red;'>Jupiter</span> as an arguments. Specify symbols  `*`,`!`,`?` with `sep` and/or `end` parameter. The output should look like:

```
Mercury*Venus!Mars**Jupiter?
```

### Exercise 3 (2 points)

Write a program that displays the following text:

```
I***like***Python
```

__Note__: Use `sep` parameter.

### Exercise 4 (2 points)

__Fix the code: Print a single line__
Each `print` command usually prints out a line of its own, complete with a change of line at the end. Remember, if the print command is given an additional argument `end = ""`, it will not print a line change.

Please fix this program so that the entire calculation, complete with result, is printed out on a single line. __Do not change the number of print commands used.__

```python
print(5)
print(" + ")
print(8)
print(" - ")
print(4)
print(" = ")
print(5 + 8 - 4)
```

### Exercise 5 (2 points)

Fix the code with f-string formating

```python
name = "Mark"
age = 37
city = "Palo Alto"
print(f"Hi ,name,, you are ,age, years old. You live in ,city,.")
```

Required result:

```
Hi Mark, you are 37 years old. You live in Palo Alto.
```

### Exercise 6 (2 points)

Your friend is working on an app for jobseekers. She sends you this bit of code:

```python
name = "Tim Tester"
age = 20
skill1 = "python"
level1 = "beginner"
skill2 = "java"
level2 = "veteran"
skill3 = "programming"
level3 = "semiprofessional"
lower = 2000
upper = 3000

print("my name is ", name, " , I am ", age, "years old")
print("my skills are")
print(" - ", skill1, " (", level1, ")")
print(" - ", skill2, " (", level2, ")")
print(" - ", skill3, " (", level3, " )")
print("I am looking for a job with a salary of", lower, "-", upper, "euros per month")
```

The program should print out <span style='color: red;'>exactly</span>  the following:

```
my name is Tim Tester, I am 20 years old

my skills are
 - python (beginner)
 - java (veteran)
 - programming (semiprofessional)

I am looking for a job with a salary of 2000-3000 euros per month
```

The code works almost correctly, but not quite. 

Please fix the code so that the printout looks right. 
Notice especially how the comma notation in the print command automatically inserts a space around the different comma-separated parts.

The easiest way to transform the code so that it meets requirements is to use `f-strings`.

__Hint__: you can print an empty line by adding an empty `print()` command, or by adding the newline character `\n` into your string.

***

### Exercise 7 (2 points)

Consider the two following programs. The main goal here is to *exchange variable values*. Write your explanation as to why one of the program does not work.

__Program 1__

```python
name1 = 'Tom'
name2 = 'Rick'

name1, name2 = name2, name1
```

__Program 2__

```python
name1 = 'Tom'
name2 = 'Rick'

name1 = name2
name2 = name1
```

### Exercise 8 (3 points)

This program already contains two integer variables, `x` and `y`:

```python
x = 27
y = 15

print(x)
print(y)
```

Please complete the program so that it also prints out the following:

```
27 + 15 = 42
27 - 15 = 12
27 * 15 = 405
27 / 15 = 1.8
```

The program should work correctly even if the values of the variables are changed. That is, if the first two lines are replaced with this

```python
x = 4
y = 9
```

the program should print out the following:

```
4 + 9 = 13
4 - 9 = -5
4 * 9 = 36
4 / 9 = 0.4444444444444444
```

Note: Python also has an integer division operator `//`. If the operands are __integers__, it will produce __an integer__. The result is rounded down to the nearest integer. 

For example this program:

```python
x = 3
y = 2

print(f"/ operator {x/y}")
print(f"// operator {x//y}")
```

Prints out:

```
/ operator 1.5
// operator 1
```